.cartoon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 80vmin;
  /*   background-color: #eee;
    background-image: linear-gradient(to right, transparent 99%, gray 0), linear-gradient(to bottom, transparent 99%, gray 0);
    background-size: 10% 100%, 100% 10%; */
  }
  
  
  .cartoon div {
    position: absolute;
    box-sizing: border-box;
  }
  

  
  .r {
    border-radius: 100%;
  }
  
  .hb::before,
  .ha::after {
    content: "";
    display: block;
    position: absolute;
  }
  
  /****/
 
  
  .legs {
    border-radius: 10vmin;
    width: 25%;
    height: 25%;
    border: 3vmin solid black;
    clip-path: polygon(-200% 0%, 200% 0%, 200% 60%, -200% 60%);
    transform: translate(-50%,0);
    left: 50%;
    top: 67%;
  }
  
  .legs::before {
    width: 70%;
    height: 27%;
    border-radius: 10vmin 10vmin 0 0;
    background: black;
    top: 40%;
    left: -70%;
    box-shadow: 24vmin 0;
  }
  
 