html, body {
    background: #acb;  
  }
  
  .cartoon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vmin;
    height: 80vmin;
  }
  
  .cartoon div {
    position: absolute;
    box-sizing: border-box;
  }
  
  .b {
    border: 0.5vmin solid;
  }
  
  .r {
    border-radius: 100%;
  }
  
  .hb::before,
  .ha::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  
  /****/
  .cartoon {
    --skin: #963;
    --dark: #630;
    --line: #222;
  }
  
  .body {
    width: 70%;
    height: 80%;
    background: var(--skin);
    border-radius: 100% / 115% 115% 55% 55%;
    top: 10%;
    left: 60%;
    transform: translate(-50%, 0);
  }
  

.foot {
    width: 12%;
    height: 18%;
    background: var(--dark);
    border-radius: 100% / 80% 80% 100% 100%;
    transform: rotate(-33deg);
    top: 10%;
    left: 35%;
  }
  
  .foot {
    transform: scale(1.5) rotate(-140deg);
    top: 75%;
  }
  
  .foot + .foot {
    transform: scale(1.5) rotate(140deg);
    left: 74%;
  }
  

  